@{
  ViewData["Title"] = "Home Page";
}


<head>
  <link rel="stylesheet" href="~/css/dashboard.css">
</head>

<div class="container">
  <div class="searchRoom">
    <img src="/img/searchBuilding.png" id="searchImage" alt="">
    <div class="searchDesc">
      <h1>EDIT <span>THE BUILDING</span> YOU NEED.</h1>
      <div class="searchForm">
        <img src="img/search.svg" alt="">
        <input type="text" placeholder="Mau gedung seperti apa?">
        <button type="submit">search</button>
      </div>
    </div>
  </div>
</div>
