.text-center {
    text-align: center;
}

.create-wrapper{
    width: 30%;
    min-height: 450px;
    box-shadow: 4px 4px 29px;
    border-radius: 12px;
    margin: auto;
    padding: 1em 2em;
}

.input-wrapper{
    width: 70%;
    margin: auto;
}

.input-wrapper input{
    width: 100%;
    height: 28px;
}

.detail-table{
    margin-top: 20px;
    font-size: 36px;
}

.btn-primary{
    background-color: #50ca3d;
}

.btn-secondary{
    background-color:rgb(67, 115, 237);
}

.btn-warning{
    background-color: #8eef33;
}

.btn-danger{
    background-color: rgb(238, 53, 53);
}

.create-wrapper .btn{
    font-size: 24px;
    border-radius: 6px;
    text-decoration: none;
}
